<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J.A. Construction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header class="has-background-black">
            <nav>
                <a href="/"><img src="./images/Logo2.PNG" alt="J.A. Construction"></a>
                <a href="/about" class="has-text-white">About Us</a>
                <a href="/team" class="has-text-white">Meet the Team</a>
                <button id="contact" class="button is-success is-rounded is-outlined">Become a Client!</button>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            **social network links**
        </footer>
    </div>

</body>

</html>