<section class="about-container">
    <div class="about-header">
        <span>Who We Are</span>
    </div>
</section>

    <section class="about-sub-container">
        <article>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum beatae perspiciatis velit quam dolorum aut optio eveniet, officia distinctio accusamus debitis inventore numquam omnis earum?
        </article>
        <img src="/images/hardhats.jpg" class="hard-hats" width="500" height="250">
</section>
