<div>
    this is the about us page
</div>
<div>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque cupiditate autem consectetur sapiente a ad veniam hic reiciendis, perferendis nemo, enim nam repellat voluptate nesciunt? Quisquam in omnis suscipit cumque?
</div>
