
<section class="home-container">
    <div class="home-header">
        <span>J.A. Construction</span>
    </div>
</section>

<section class="home-sub-container">
        <article>
            ***Note to graders, some content of this project is going to be filled in at a later date after meeting with my company***
        </article>
        <img src="/images/home-hero.jpg" class="handymen" width="800" height="400">
<hr />
        <article>
            <i class="fas fa-tools"></i>
            <h3>Building Construction</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium impedit laudantium at? Cum explicabo vero impedit nesciunt repellendus assumenda eligendi quos placeat id vel earum quasi numquam, facilis possimus delectus!</p>
<hr />
            <i class="fas fa-truck-moving"></i>
            <h3>Tear Downs and Haul Offs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sit sed nostrum blanditiis esse consequatur odio atque eligendi aperiam accusamus facere, omnis, nobis asperiores possimus distinctio assumenda, placeat dignissimos vel.</p>
<hr />
            <i class="fas fa-sitemap"></i>
            <h3>Site Management</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius odit, delectus exercitationem repellendus, molestiae ex aliquam rerum deleniti id quibusdam explicabo consequatur? Asperiores voluptatibus harum voluptates. Doloribus voluptatum consequatur quisquam?</p>
        </article>
</section>









<!--<img src="/images/engineer-23810.svg" class="img-fluid rounded mx-auto d-block" alt="engineer photo" width="150" height="100">-->