<div>
    This is the meet the team section
</div>

<div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam, iusto aliquam eum eaque facere quidem, eligendi similique optio non consectetur distinctio. Delectus reiciendis cum fugiat, pariatur qui aliquid deserunt molestias?
</div>