
<div class="team-container">
    <div class="team-header">
        <header>Our Team</header>
    </div>
        <div class="team">
            <i class="fas fa-user-tie"></i>
            <div class="name">Joe Shmoe</div>
            <div class="job">Construction Manager</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui officia a ipsa sit tempora, doloribus beatae quas architecto provident necessitatibus repudiandae earum repellendus quo!</div>

            <div class="social">
                <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
<hr />
        <div class="team">
            <i class="fas fa-ruler"></i>
            <div class="name">Kim Thurman</div>
            <div class="job">Architect</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui officia a ipsa sit tempora, doloribus beatae quas architecto provident necessitatibus repudiandae earum repellendus quo!</div>

            <div class="social">
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>
<hr />
        <div class="team">
            <i class="fas fa-hard-hat"></i>
            <div class="name">Larry Berry</div>
            <div class="job">Supervisor</div>
            <div class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda qui officia a ipsa sit tempora, doloribus beatae quas architecto provident necessitatibus repudiandae earum repellendus quo!</div>

            <div class="social">
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-instagram-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
            </div>

        </div>
    </div>
</div>